.blog-page {
    
    header {
        background-image: $background-image-2;
        height: $bg-height-2;
    }

    .creative h1 {
        font-size:3.05rem;
        flex:2 0 50%;
        text-align: center;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        margin-bottom:40px;
        margin-top:90px;
    }

    .related-posts h2 {
        font-size:1.85rem;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        margin-bottom:100px;
        padding-bottom:50px;
        border-bottom: 1px solid #3030305e;
    }

    .comment-section h2 {
        font-size:1.85rem;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        margin-bottom:100px;
        padding-bottom:50px;
        border-bottom: 1px solid #3030305e;
    }

    .leave-comment h2 {
        font-size:1.85rem;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        font-family:'Montserrat', sans-serif;
        font-weight:700;
        margin-bottom:100px;
        padding-bottom:50px;
        border-bottom: 1px solid #3030305e;
    }


    .social {
        display: flex;
    }


    .social-icons a {
        color:$dark-color-1;
        margin-left:15px;
        // color:#333333;
    }

    .social p {
        font-size:1rem;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        font-family:'Montserrat', sans-serif;
        margin-right:15px;
    }




    

    .admin {
        display: flex;
        width:40%;
        align-items: center;
    }

    .admin-img img {
        /* width:10%; */
        /* object-fit: contain; */
        border-radius: 50%;
    }

    .admin-text {
        margin-left:20px;
    }

    .creative-text p {
        color:$dark-color-1;
    }


    .creative-info {
        display: flex;
        margin:60px 0;
        justify-content: space-between;
        align-items: center;
        padding-bottom:30px;
        border-bottom:1px solid #3030305e;
    }

    

    .creative-main-text p,
    .creative-top p,
    .creative-info p {
        font-family:'Open Sans', sans-serif;
        line-height: 24px;
        font-size:0.7rem;
    }

    .creative-main-text p{
        margin-bottom:30px;
    }

    .creative span {
        font-weight: bold;
    }


    .related-posts ul {
        display: flex;
    /* justify-content: space-between; */
    }

    .related-posts li {
        /* flex-grow: 1; */
        margin-right:40px;
    }

    .related-posts li:last-child {
        margin-right:0px;
    }

    .related-posts img {
        /* margin-right:40px; */
        width:100%;
    }

// NOTE: I had to change this font size
    .related-content p {
        font-size:0.9rem;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        font-family:'Montserrat', sans-serif;
        margin-right:15px;
        margin-top:20px;
    }


    .comments,
    .leave-comment {
        margin:100px 0;
    }


    .related-posts {
        margin-top:80px;
    }

    .comment-section{
        margin-top:100px;
    }

    .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #f6f6f6;
    }

    .tip-left {
        top: 10px;
        left: -25px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;  
    }

    .dialogbox .dialog-body-one,
    .dialogbox .dialog-body-two {
        position: relative;
        width:100%;
        height: auto;
        margin: 0px 10px 20px 35px;
        padding: 5px 20px;
        background-color: #f6f6f6;
        border-radius: 3px;
        border: 5px solid #f6f6f6;
    }

    .dialogbox {
        display:flex;
    }

    .dialog-comment-name p  {
        font-size:0.8rem;
        font-family:'Montserrat', sans-serif;
        letter-spacing: 1.8px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom:10px;
    }

    .dialog-comment-name span {
        font-family:'Open Sans', sans-serif;
        line-height: 24px;
        font-size:0.7rem;
        color:#637754;
        text-transform: none;
        font-style: italic;
    }

    .dialog-comment-message {
        color:#333333;
        font-size:0.8rem;
        font-family:'Montserrat', sans-serif;
    }

    .dialog-comment-date {
        color:#a7a7a7;
        font-size:0.7rem;
        font-family:'Montserrat', sans-serif;
    }














}