.contact-page {

    header {
        background-image:none;

    }

    .header-img {
        background-image:$background-image-3;
        height:$bg-height-3;
        margin-top:30px;
    }





























}