.form-top {
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
    }

textarea { 
    resize: none; 
    width:100%;
    margin-bottom: 50px;
}
    
.form-box {
    input[type="email"],
    input[type="text"],
    textarea {
        border: none;
        border-bottom:0.5px solid #303030;
        padding-bottom:10px;
        padding-right:170px;
        // padding-right:14%;
        color:#333333;
        line-height: 24px;
        font-family:'Open Sans', sans-serif;
        font-size:0.7rem;
    }
}

.form-box button {
    border: none;
    border-bottom:0.5px solid #303030;
    padding-bottom:10px;
    // color:#333333;
    line-height: 24px;
    font-family:'Open Sans', sans-serif;
    font-size:0.7rem;
    letter-spacing: 0.7px;
    background-color:$light-color-1;
    text-transform: uppercase;
    // background-color: none;
}



// --------------------------------------------- M E D I A  Q U E R Y --------------------------------------------------------------


@media (max-width:1230px) {

    .form-box {
        input[type="email"],
        input[type="text"],
        textarea {
            padding-right:70px;
        }
    }

    }