// ---------------------------------------------------- H O M E  P A G E ------------------------------------------------------------
// --------------------------------------------------------( Below )--------------------------------------------------------------
// --------------------------------------------------------( 1230px )-------------------------------------------------------------

@media (max-width:1230px) {

    .services {
        background-position-x: right;
    }

    .service-blank-box {
        flex: 1 0 30%;
    }


    .team-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, auto);
    }

    .one {
        grid-column:1 / 3;
        grid-row:1;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #F6F6F6;
        padding:75px 50px;
    }

}




// -------------------------------------------------------- F O R M --------------------------------------------------------------
// --------------------------------------------------------( Below )--------------------------------------------------------------
// --------------------------------------------------------( 1230px )-------------------------------------------------------------

@media (max-width:1230px) {

    .form-box {
        input[type="email"],
        input[type="text"],
        textarea {
            padding-right:70px;
        }
    }

}









// ------------------------------------------------------- H E A D E R ------------------------------------------------------------
// --------------------------------------------------------( Below )--------------------------------------------------------------
// --------------------------------------------------------( 976px )-------------------------------------------------------------


@media(max-width:976px) {
    

    // h1 {
    //     flex:2 0 40%;
    // }


}

// ---------------------------------------------------- H O M E  P A G E ------------------------------------------------------------
// --------------------------------------------------------( Below )--------------------------------------------------------------
// --------------------------------------------------------( 976px )-------------------------------------------------------------


@media (max-width:976px) {


    .service-blank-box {
        display: none;
    }

    .service-list-1 {
        margin-right:30px;
    }

    .service-container {
        padding-left: 110px;
        padding-right: 40px;
    }

    // header nav ul {
    //     width:32%;
    // }

}


// -------------------------------------------------------- F O R M --------------------------------------------------------------
// --------------------------------------------------------( Below )--------------------------------------------------------------
// --------------------------------------------------------( 976px )-------------------------------------------------------------

@media (max-width:976px) {

    .form-box {
        input[type="email"],
        input[type="text"],
        textarea {
            padding-right:20px;
        }
    }

}


// ------------------------------------------------------ F O O T E R ------------------------------------------------------------
// --------------------------------------------------------( Below )--------------------------------------------------------------
// --------------------------------------------------------( 976px )-------------------------------------------------------------


@media (max-width:976px) {


    .contact-address {
        text-align: center;
    }
    .contact-container {
        color: $light-color-1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }


    .contact-form {
        text-align: center;
    }

}