// make variable for background images

$background-image-1:url(../creative-assets/home-1.jpeg);
$background-image-2:url(../creative-assets/blog-1.jpeg);
$background-image-3:url(../creative-assets/contact-1.jpeg);

$bg-height-1:100vh;
$bg-height-2:90vh;
$bg-height-3:185px;

/* FONTS  */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

/* COLOURS */
/* Light sage / #C3DAB7 / 195, 218, 183 */
/* White / #FFFFFF / 255, 255, 255 */
/* White two / #F6F6F6 / 246, 246, 246 */
/* Black / #333333 / 51, 51, 51 */