a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fa-shopping-bag {
  position: relative;
}

.two-icon p {
  background-color: #C3DAB7;
  border-radius: 50%;
  font-size: 0.4rem;
  font-family: 'Open Sans', sans-serif;
  padding: 1px 3px 2px 3px;
  position: absolute;
  top: 9px;
  left: 7px;
}

header {
  background-position: center;
  background-size: cover;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

header nav li {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.3px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav a {
  text-decoration: none;
  color: #333333;
}

header nav li:hover {
  text-decoration: line-through;
}

.contact {
  background-color: #333333;
  padding: 120px 0;
}

.contact h3 {
  margin-bottom: 40px;
}

.contact-container {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-address {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
}

.contact-post h3 {
  text-align: center;
}

.contact-post li {
  list-style-type: circle;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
}

.contact-form {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
}

.contact-form p {
  margin-bottom: 30px;
}

.contact input[type="email"] {
  /* background-color: #C3DAB7; */
  padding: 8px 35px 8px 8px;
  border: none;
}

.contact-form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.contact-form .fas {
  background-color: #C3DAB7;
  padding: 8.5px 12.5px 8.5px 12.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333333;
}

.contact-icons i {
  color: #FFFFFF;
  padding-right: 20px;
  margin-top: 30px;
}

footer {
  background-color: #333333;
  border-top: 0.5px solid rgba(246, 246, 246, 0.5);
  color: #FFFFFF;
  text-align: center;
  padding: 50px 0;
}

footer p {
  /* I had to change letter-spacing to better match design */
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  line-height: 24px;
  text-transform: uppercase;
}

.form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

textarea {
  resize: none;
  width: 100%;
  margin-bottom: 50px;
}

.form-box input[type="email"],
.form-box input[type="text"],
.form-box textarea {
  border: none;
  border-bottom: 0.5px solid #303030;
  padding-bottom: 10px;
  padding-right: 170px;
  color: #333333;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
}

.form-box button {
  border: none;
  border-bottom: 0.5px solid #303030;
  padding-bottom: 10px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.7px;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

header {
  background-image: url(../creative-assets/home-1.jpeg);
  height: 100vh;
}

.home-page h2 {
  text-align: center;
}

.brand-develop {
  background-color: #C3DAB7;
  padding: 250px 0 150px 0;
  /* position: relative; */
}

.brand-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* margin: 0 auto; */
}

.brand-img-1 {
  /* margin:0 auto; */
  position: relative;
}

.brand-img-2 {
  position: absolute;
  top: -100px;
  left: -100px;
}

.brand-text-1,
.brand-text-2 {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100px;
          flex: 1 0 100px;
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
}

.brand-text-1 span,
.brand-text-2 span {
  display: block;
}

.brand-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel {
  margin: 140px 0;
}

.carousel-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-img img {
  border-radius: 50%;
  width: 28%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-top .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.carousel-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-text-and-img {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel-text p {
  width: 60%;
  text-align: center;
  font-style: italic;
  margin: 40px 0;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
}

.line {
  width: 50%;
  height: 70px;
  border-right: 1px solid #3030305e;
}

.services {
  background-image: url(../creative-assets/home-4.jpeg);
  background-repeat: none;
  background-size: cover;
  height: 693px;
  padding: 130px 0 100px 0;
}

.box .fas {
  border: 2.5px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  font-size: 1rem;
  margin-right: 20px;
}

.services-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-container li {
  padding-bottom: 50px;
}

.service-list-1,
.service-list-2 {
  /* width:25%; */
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}

.service-list-2 {
  margin-right: 20px;
}

.service-blank-box {
  /* width:45%;----------------------------- */
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
}

.service-container h3 {
  margin-bottom: 10px;
}

.service-container p {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
}

.services-text p {
  width: 90%;
}

.meet-our-team h2 {
  margin-bottom: 110px;
}

.meet-our-team {
  margin: 170px 0;
}

/* ----------------------------------------------------------------------   G R I D */
.team-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #F6F6F6;
  padding: 0 50px 50px 50px;
}

.one h3 {
  margin-bottom: 20px;
}

.one p {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
}

.seven {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
}

.seven p {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.seven p span {
  display: block;
}

.team-grid img {
  width: 100%;
  /* object-fit: cover; */
}

/* -------------------------------------------------------------------------------------- */
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #C3DAB7;
}

.portfolio h3 {
  margin-bottom: 38px;
}

.portfolio-text,
.portfolio-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.portfolio-text {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  margin: auto;
  padding: 0 11%;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
}

.portfolio button {
  margin-top: 38px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.7px;
  background-color: #F6F6F6;
  color: #333333;
  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 9px 20px;
}

.portfolio-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.blog-page header {
  background-image: url(../creative-assets/blog-1.jpeg);
  height: 90vh;
}

.blog-page .creative h1 {
  font-size: 3.05rem;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 50%;
          flex: 2 0 50%;
  text-align: center;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 90px;
}

.blog-page .related-posts h2 {
  font-size: 1.85rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid #3030305e;
}

.blog-page .comment-section h2 {
  font-size: 1.85rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid #3030305e;
}

.blog-page .leave-comment h2 {
  font-size: 1.85rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid #3030305e;
}

.blog-page .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-page .social-icons a {
  color: #333333;
  margin-left: 15px;
}

.blog-page .social p {
  font-size: 1rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-right: 15px;
}

.blog-page .admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-page .admin-img img {
  /* width:10%; */
  /* object-fit: contain; */
  border-radius: 50%;
}

.blog-page .admin-text {
  margin-left: 20px;
}

.blog-page .creative-text p {
  color: #333333;
}

.blog-page .creative-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #3030305e;
}

.blog-page .creative-main-text p,
.blog-page .creative-top p,
.blog-page .creative-info p {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
}

.blog-page .creative-main-text p {
  margin-bottom: 30px;
}

.blog-page .creative span {
  font-weight: bold;
}

.blog-page .related-posts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
}

.blog-page .related-posts li {
  /* flex-grow: 1; */
  margin-right: 40px;
}

.blog-page .related-posts li:last-child {
  margin-right: 0px;
}

.blog-page .related-posts img {
  /* margin-right:40px; */
  width: 100%;
}

.blog-page .related-content p {
  font-size: 0.9rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-right: 15px;
  margin-top: 20px;
}

.blog-page .comments,
.blog-page .leave-comment {
  margin: 100px 0;
}

.blog-page .related-posts {
  margin-top: 80px;
}

.blog-page .comment-section {
  margin-top: 100px;
}

.blog-page .tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #f6f6f6;
}

.blog-page .tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.blog-page .dialogbox .dialog-body-one,
.blog-page .dialogbox .dialog-body-two {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0px 10px 50px 35px;
  padding: 5px 20px;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: 5px solid #f6f6f6;
}

.blog-page .dialogbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-page .dialog-comment-name p {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 10px;
}

.blog-page .dialog-comment-name span {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
  color: #637754;
  text-transform: none;
  font-style: italic;
}

.blog-page .dialog-comment-message {
  color: #333333;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
}

.blog-page .dialog-comment-date {
  color: #a7a7a7;
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  padding-bottom: 30px;
}

.contact-page header {
  background-image: none;
  height: 300px;
}

.contact-page .header-img {
  background-image: url(../creative-assets/contact-1.jpeg);
  height: 220px;
  margin-top: 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.contact-page .contact-details {
  margin-top: 200px;
}

.contact-page .design-line {
  width: 50px;
  border-top: 5px solid #333333;
  margin-bottom: 40px;
}

.contact-page main {
  position: relative;
}

.contact-page .main-text {
  position: absolute;
  top: -340px;
}

.contact-page .main-text h2 {
  font-size: 3.05rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 71px;
}

.contact-page .main-text h2 span,
.contact-page .contact-details span {
  display: block;
}

.contact-page h2 {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-page .details-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px 0;
}

.contact-page .phone-details-box p:first-child,
.contact-page .address-details-box p:first-child,
.contact-page .email-details-box p:first-child {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 7px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-page .phone-details-box p,
.contact-page .address-details-box p,
.contact-page .email-details-box p {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.contact-page .contact-details p {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.contact-page .details-box .fas {
  font-size: 2rem;
  margin-bottom: 30px;
}

.contact-page .phone-details-box {
  border-right: 1px solid black;
  padding: 30px 80px 30px 0;
}

.contact-page .address-details-box {
  padding: 30px 0;
}

.contact-page .email-details-box {
  padding: 30px 0px 30px 80px;
  border-left: 1px solid black;
}

.contact-page .contact-details-bottom {
  margin-bottom: 100px;
}

.contact-page .pre-footer-img {
  background-image: url(../creative-assets/contact-2.jpeg);
  height: 683px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;
}

@media (max-width: 1230px) {
  .services {
    background-position-x: right;
  }
  .service-blank-box {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
  .team-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #F6F6F6;
    padding: 75px 50px;
  }
}

@media (max-width: 1230px) {
  .form-box input[type="email"],
  .form-box input[type="text"],
  .form-box textarea {
    padding-right: 70px;
  }
}

@media (max-width: 976px) {
  .service-blank-box {
    display: none;
  }
  .service-list-1 {
    margin-right: 30px;
  }
  .service-container {
    padding-left: 110px;
    padding-right: 40px;
  }
  .meet-our-team {
    margin: 40px 0;
  }
  .meet-our-team h2 {
    margin-bottom: 90px;
  }
  .blog-page .admin {
    width: auto;
  }
  .contact-page .phone-details-box {
    padding: 30px 40px 30px 0;
  }
  .contact-page .email-details-box {
    padding: 30px 0 30px 40px;
  }
  .form-box input[type="email"],
  .form-box input[type="text"],
  .form-box textarea {
    padding-right: 20px;
  }
  .contact {
    padding: 80px 0;
  }
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form,
  .contact-post,
  .contact-address {
    text-align: center;
  }
  .contact-form-email {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-address,
  .contact-post {
    margin-bottom: 60px;
  }
}

@media (max-width: 790px) {
  .brand-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brand-develop {
    padding-bottom: 90px;
  }
  .brand-text-1,
  .brand-text-2 {
    margin-top: 70px;
  }
  .service-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services {
    background-image: none;
    background-repeat: none;
    background-size: none;
    height: auto;
    padding: 80px 0;
    background-color: #ebebeb;
  }
  .portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-text {
    padding: 11% 11%;
  }
  .blog-page .related-posts img {
    max-width: 100%;
  }
  .related-posts ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-page .related-posts li {
    margin-right: 0;
    margin-top: 50px;
  }
  .form-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

/* .wrapper-2 {
    max-width: 1280px;
    margin: 0 auto;
    width: 98%;
} */
.wrapper-3 {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 1.85rem;
  /* display: flex; */
  -webkit-box-flex: 2;
      -ms-flex: 2 0 50%;
          flex: 2 0 50%;
  text-align: center;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 1.35rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.8px;
  line-height: 24px;
  text-transform: uppercase;
  /* font-weight:700; */
}
